* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1450px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .big_img {
    max-width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 640px) {
  .link {
    display: none;
  }
  .form {
    display: none;
  }
  .logo {
    display: none;
  }
}
