.big_title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24.61px;
  line-height: 100%;
  letter-spacing: 0.53px;
  color: black;
}

.boxs {
  max-width: 235px;
  height: 432px;
  box-shadow: 0px 4px 6px -2px #ffffff;
  box-shadow: 0px 5px 10px -1px #eef6fa;
}

.flex {
  @include d-flex(flex, 0px);
  justify-content: space-between;
  padding: 37px 16px 17px 16px;
}

.div_boxs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.img_box {
  @include d-flex(flex, 0px);
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.img_bigg {
  max-width: 235px;
}

.rate {
  padding-left: 5px;
}

.div {
  position: relative;
}

.postion {
  position: absolute;
  top: 0;
}

.mini_boxs {
  background-color: aqua;
  margin-top: 50px;
  width: 1300px;
  height: 200px;
  @include d-flex(flex, 0px);
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.total_price_box {
  width: 100%px;
  height: 300px;
  background-color: aqua;
  border-radius: 20px;
  margin: 0 auto;
}

.div_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.img {
  width: 120px;
  border-radius: 10px;
}

.bottom_box {
  width: 353px;
  height: 255px;
  border: 1px solid #e9e9e9;
}

.bottom_title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}

.call_title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6682a9;
  padding-top: 16px;
}

.left_title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
  padding-left: 41px;
  padding-top: 6px;
}

.bottom_title {
  padding-top: 25px;
}

.box_item {
  padding-left: 8px;
}

.bottom_title_mini {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
  margin-top: 6px;
}

.divv {
  display: flex;
  justify-content: space-between;
}

.box_item {
  padding-right: 20px;
}

.shop_bottom {
  @include d-flex(flex, 12px);
  justify-content: center;
  flex-wrap: wrap;
}

.comp_title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15.63px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #007AA7;
  margin-bottom: 11px;
  
}

.bottom{
  margin-bottom: 11px;
}

.shop_bottom{
  margin-top: 30px;
}